duckdb
pandas
pymupdf
numpy
sentence-transformers
qdrant-client
langchain
langchain-community
langchain_experimental
langchain-core
langchain-groq
sqlalchemy
duckdb-engine
dotenv
sentence-transformers
qdrant-client
neo4j
groq